html,
body,
#app {
  width: 100vw;
  height: 100vh;
}

#container {
  display: grid;
  gap: var(--space-md) var(--space-md);
  grid-auto-flow: row;
  grid-template:
    'header'  min-content
    'content' 1fr
    'footer'  min-content
    / 1fr;
  height: 100vh;
}

header {
  justify-self: stretch;
  grid-area: header;
}

main {
  place-self: stretch stretch;
  grid-area: content;
}

footer {
  justify-self: center;
  grid-area: footer;
}
