html,
body,
#app {
  width: 100vw;
  height: 100vh;
}

#container {
  display: grid;
  grid-template:
    'header' min-content
    'content' 1fr
    'footer' min-content
    / 1fr;
  grid-auto-flow: row;
  gap: var(--space-md) var(--space-md);
  height: 100vh;
}

header {
  grid-area: header;
  justify-self: stretch;
}

main {
  grid-area: content;
  place-self: stretch stretch;
}

footer {
  grid-area: footer;
  justify-self: center;
}
